<div
  ...attributes
  {{did-insert this.createEditor this.optionsWithInitEvent}}
  {{did-update this.updateContent @content}}
  {{will-destroy this.destroyEditor}}
>
  {{#if this.fastboot.isFastboot}}
    {{this.content}}
  {{else}}
    {{unbound this.content}}
  {{/if}}
</div>