<div
  ...attributes
  {{did-insert this.createEditor this.optionsWithInitEvent}}
  {{did-update this.updateContent @content}}
  {{will-destroy this.destroyEditor}}
>
  {{#if this.fastboot.isFastboot}}
    {{@content}}
  {{else}}
    {{! template-lint-disable no-unbound }}
    {{unbound @content}}
  {{/if}}
</div>