<section class="card">
  <div class="card-body">


    <h1 class="card-title">
      &#123;&#123;froala-editor&#125;&#125;
      <small class="text-muted">Component</small>
    </h1>
    <hr />


    <p class="lead">
      This is why you're using the addon, to use the actual Froala Editor in an Ember project. The <code class="bg-light text-dark">&#123;&#123;froala-editor&#125;&#125;</code> component exposes many aspects of the Froala Editor in "Ember ways" and uses the <code class="bg-light text-dark">&lt;div contenteditable&gt;</code> version of the editor (not <code class="bg-light text-dark">&lt;textarea&gt;</code>). And since the Froala Editor is technically a jQuery plugin, this component will handle proper setup and teardown.
    </p>


    <p>
      Security note: Since this editor generates HTML, this component treats the 'content' as "HTML safe" and will output the value <em>unescaped</em>. It is up to you to properly sanitize the content, safeguarding against XXS.
    </p>


  </div>{{!-- .card-body --}}
</section>{{!-- .card --}}




<section class="card" id="attributes">


  <div class="card-body">
    <h2 class="card-title">Component Attributes</h2>
    <p>
      There are several attributes which can be used to adjust functionality. Mainly, the <code class="bg-light text-dark">content</code>, <code class="bg-light text-dark">update</code>, and <code class="bg-light text-dark">options</code> will be the mostly used attributes. Ex: <code class="bg-light text-dark">&#123;&#123;froala-editor content=myProperty update=(action (mut myProperty)) options=(hash heightMin=200)&#125;&#125;</code>
    </p>
  </div>


  <div class="table-responsive"><table class="table">
    <thead><tr>
      <th scope="col">Attribute</th>
      <th scope="col">Type</th>
      <th scope="col">Default</th>
      <th scope="col">Description</th>
    </tr></thead>
    <tbody>
      <tr>
        <th scope="row">content</th>
        <td>string | <a href="https://emberjs.com/api/ember/2.18/classes/@ember%2Ftemplate/methods/htmlSafe?anchor=htmlSafe" target="_blank">SafeString</a></td>
        <td><code class="bg-light text-dark">''</code></td>
        <td>String of HTML for the editor to use. Note, this is <em>not</em> updated as the editor content changes. Instead use <code class="bg-light text-dark">update</code> to <code class="bg-light text-dark">(mut)</code> the original property.</td>
      </tr>
      <tr>
        <th scope="row">on-*</th>
        <td>action</td>
        <td><code class="bg-light text-dark">undefined</code></td>
        <td>Froala Editor event handlers as Ember actions, see the {{link-to "event actions" (query-params section="events")}} for details</td>
      </tr>
      <tr>
        <th scope="row">on-*-getHtml</th>
        <td>action</td>
        <td><code class="bg-light text-dark">undefined</code></td>
        <td>Froala Editor event handlers as Ember actions but with the first argument as the editors current content/HTML, see the {{link-to "event actions" (query-params section="events")}} for details</td>
      </tr>
      <tr>
        <th scope="row">options</th>
        <td>object / hash</td>
        <td><code class="bg-light text-dark">{}</code></td>
        <td>Options hash passed to the Froala Editor, look at the <a href="https://www.froala.com/wysiwyg-editor/docs/options" target="_blank">Froala Editor options documentation</a> for details</td>
      </tr>
      <tr>
        <th scope="row">returnSafeString</th>
        <td>boolean</td>
        <td><code class="bg-light text-dark">isHTMLSafe(content)</code></td>
        <td>Used with <code class="bg-light text-dark">update</code> and the <code class="bg-light text-dark">on-*-getHtml</code> event handlers when returning the editors content/HTML</td>
      </tr>
      <tr>
        <th scope="row">update</th>
        <td>action</td>
        <td><code class="bg-light text-dark">undefined</code></td>
        <td>An action called when the <code class="bg-light text-dark">updateEvent</code> is triggered, passing the editors current content/HTML as the first argument</td>
      </tr>
      <tr>
        <th scope="row">updateEvent</th>
        <td>string</td>
        <td><code class="bg-light text-dark">'contentChanged'</code></td>
        <td><a href="https://www.froala.com/wysiwyg-editor/docs/events" target="_blank">Froala Editor event</a> to trigger the <code class="bg-light text-dark">update</code> action</td>
      </tr>
    </tbody>
  </table></div>


  <div class="card-body">


    <p>
      Note: This component essentially takes <code class="bg-light text-dark">content</code> as <code class="bg-light text-dark">&#123;&#123;froala-editor content=(readonly myProperty)&#125;&#125;</code> and will properly update the editor if the value is changed outside of the component. No other attribute changes after initialization will effect the editor, including <code class="bg-light text-dark">options</code>.
    </p>


    <h4>Positional Params</h4>
    <p>
      This component supports three <a href="https://guides.emberjs.com/v2.18.0/components/passing-properties-to-a-component/#toc_positional-params" target="_blank">positional params</a>; <code class="bg-light text-dark">content</code>, <code class="bg-light text-dark">update</code>, and <code class="bg-light text-dark">options</code>. Ex:
    </p>
    <pre class="bg-light border rounded p-2 text-dark">&#123;&#123;froala-editor myProperty (action (mut myProperty)) (hash heightMin=200)&#125;&#125;</pre>


  </div>{{!-- .card-body --}}


</section>{{!-- .card --}}




<section class="card" id="options">
  <div class="card-body">


    <h2 class="card-title">Editor Options</h2>


    <p>
      The <a href="https://www.froala.com/wysiwyg-editor/docs/options" target="_blank">Froala Editor options</a> can be applied to the <code class="bg-light text-dark">&#123;&#123;froala-editor&#125;&#125;</code> in a couple ways; <code class="bg-light text-dark">options</code> object/hash or as individual attributes.
    </p>


    <div class="row small-gutters">
      <div class="col-md-6">


        <h5>options object/hash</h5>
        <pre class="bg-light border rounded p-2 text-dark">&#123;&#123;froala-editor
  options=(hash
    theme="royal"
    charCounterCount=false
    heightMin=200
  )
&#125;&#125;</pre>


      </div>{{!-- .col --}}
      <div class="col-md-6">


        <h5>individual attributes</h5>
        <pre class="bg-light border rounded p-2 text-dark">&#123;&#123;froala-editor
  theme="royal"
  charCounterCount=false
  heightMin=200
&#125;&#125;</pre>


      </div>{{!-- .col --}}
    </div>{{!-- .row --}}


    <p>
      Reminder, if the option has nested objects for values, you must use the <a href="https://emberjs.com/api/ember/2.18/classes/Ember.Templates.helpers/methods/hash?anchor=hash" target="_blank"><code class="bg-light text-dark">(hash)</code> helper</a>. Same goes for arrays, use the <a href="https://github.com/DockYard/ember-composable-helpers#array" target="_blank"><code class="bg-light text-dark">(array)</code> helper</a> from the <code class="bg-light text-dark">ember-composable-helpers</code> addon.
    </p>


    <div class="row small-gutters">
      <div class="col-md-6">


        <pre class="bg-light border rounded p-2 text-dark">&#123;&#123;froala-editor
  options=(hash
    paragraphFormat=(hash
      N="Normal"
      H1="Heading 1"
      H2="Heading 2"
    )
  )
&#125;&#125;</pre>


      </div>{{!-- .col --}}
      <div class="col-md-6">


        <pre class="bg-light border rounded p-2 text-dark">&#123;&#123;froala-editor
  toolbarButtons=(array
    "bold"
    "italic"
    "strikeThrough"
    "formatOL"
    "formatUL"
  )
&#125;&#125;</pre>


      </div>{{!-- .col --}}
    </div>{{!-- .row --}}


    <p>
      Of course you can always pass in a property for the values as well. This works well when you have a complex set of options, they can be defined in JavaScript on the parent context (controller or component).
    </p>


    <div class="row small-gutters">
      <div class="col-md-6">


        <pre class="bg-light border rounded p-2 text-dark">import Controller from '@ember/controller';
export default Controller.extend({
  formatList: {
    N: "Normal",
    H1: "Heading 1",
    H2: "Heading 2"
  } // :formatList
}); // export default</pre>


      </div>{{!-- .col --}}
      <div class="col-md-6">


        <pre class="bg-light border rounded p-2 text-dark">&#123;&#123;froala-editor
  paragraphFormat=formatList
&#125;&#125;</pre>


      </div>{{!-- .col --}}
    </div>{{!-- .row --}}


    <p>
      Also see the {{link-to "Defaults Concept" "addon.concepts" (query-params section="defaults")}} to apply the same set of options across all of your <code class="bg-light text-dark">&#123;&#123;froala-editor&#125;&#125;</code> instances. And you can always mix-n-match passing in the options in different ways. Ex: <code class="bg-light text-dark">&#123;&#123;froala-editor theme="royal" options=complexOptions&#125;&#125;</code> In that case, the following is the order in which options take precedence (#1 being the highest);
    </p>


    <ol>
      <li>Attribute options <code class="bg-light text-dark">&#123;&#123;froala-editor theme="red"&#125;&#125;</code></li>
      <li>Options object/hash <code class="bg-light text-dark">&#123;&#123;froala-editor options=(hash theme="red")&#125;&#125;</code></li>
      <li>Defaults concept <code class="bg-light text-dark">options: { theme:"red" }</code></li>
    </ol>


  </div>{{!-- .card-body --}}
</section>{{!-- .card --}}




<section class="card" id="events">
  <div class="card-body">


    <h2 class="card-title">Event Actions</h2>


    <p>
      The <a href="https://www.froala.com/wysiwyg-editor/docs/events" target="_blank">Froala Editor events</a> are exposed as <a href="https://guides.emberjs.com/v2.18.0/components/triggering-changes-with-actions/" target="_blank">Ember Actions</a>. You can capture an editor event by passing in an action for the attribute named as the editor event and prefixed with 'on-'. Ex: "blur" becomes <code class="bg-light text-dark">&#123;&#123;froala-editor on-blur=(action "parentActionName")&#125;&#125;</code> And if the event name contains a period, replace it with a dash. Ex: "charCounter.exceeded" becomes <code class="bg-light text-dark">&#123;&#123;froala-editor on-charCounter-exceeded=(action "parentActionName")&#125;&#125;</code>
    </p>


    <p>
      Optionally, you may append '-getHtml' at the end of the attribute name to get the editors current content / HTML as the first argument.  This is very useful when combined with the <a href="https://emberjs.com/api/ember/2.18/classes/Ember.Templates.helpers/methods/mut?anchor=mut" target="_blank"><code class="bg-light text-dark">(mut)</code> helper</a>. Ex: <code class="bg-light text-dark">&#123;&#123;froala-editor on-blur-getHtml=(action (mut someContent))&#125;&#125;</code>
    </p>


    <p>
      Actions will receive the same arguments that the <a href="https://www.froala.com/wysiwyg-editor/docs/events" target="_blank">Froala Editor docs</a> mention, except the first argument (<code class="bg-light text-dark">e</code> / event) is not passed along and the second argument (<code class="bg-light text-dark">editor</code>) is replaced with an instance of the component. The actual <code class="bg-light text-dark">editor</code> instance is available from the 'editor' property. Ex: <code class="bg-light text-dark">component.get('editor')</code>
    </p>


    <div class="row small-gutters">
      <div class="col-md-6">


        <h5>on-image-beforeUpload=(action "foobar")</h5>
        <pre class="bg-light border rounded p-2 text-dark">import Controller from '@ember/controller';

export default Controller.extend({
  actions: {

    foobar( <strong>component, images</strong> ) {
      // If you need the editor instance...
      let editor = component.get('editor');
      // Your code...
    } // foobar()

  } // :actions
}); // export default</pre>


      </div>{{!-- .col --}}
      <div class="col-md-6">


        <h5>on-image-beforeUpload-getHtml=(action "foobar")</h5>
        <pre class="bg-light border rounded p-2 text-dark">import Controller from '@ember/controller';

export default Controller.extend({
  actions: {

    foobar( <strong>html, component, images</strong> ) {
      // If you need the editor for some reason...
      let editor = component.get('editor');
      // Your code...
    } // foobar()

  } // :actions
}); // export default</pre>


      </div>{{!-- .col --}}
    </div>{{!-- .row --}}


    <p>
      Note: For the Froala Editor <a href="https://www.froala.com/wysiwyg-editor/docs/events#popups.hide.[id]" target="_blank"><code class="bg-light text-dark">popups.hide.[id]</code> event</a>, "<a href="https://emberjs.com/api/ember/2.18/classes/String/methods/dasherize?anchor=dasherize" target="_blank">dasherize</a>" the event name (including the id). Ex: <code class="bg-light text-dark">popups.hide.[foobar]</code> would become <code class="bg-light text-dark">on-popups-hide-foobar</code>.
    </p>


    <p>
      Note: Some of the events allow you to <code class="bg-light text-dark">return false;</code> from the event handler to cancel the event. You can do the same from the action, just be sure you are using the <code class="bg-light text-dark">(action)</code> helper instead of a string of the action name. Ex: <code class="bg-light text-dark">on-image-beforeUpload=(action "actionName")</code> vs <code class="bg-light text-dark">on-image-beforeUpload="actionName"</code>
    </p>


  </div>{{!-- .card-body --}}
</section>{{!-- .card --}}




<section class="card" id="methods">
  <div class="card-body">


    <h2 class="card-title">Editor Methods</h2>


    <p>
      The <a href="https://www.froala.com/wysiwyg-editor/docs/methods" target="_blank">Froala Editor methods</a> are exposed as a Component action (<code class="bg-light text-dark">component.send('method', 'method.name')</code>) and/or a Component function (<code class="bg-light text-dark">component.method('method.name')</code>). The benefit of calling the Component function directly is that it will return the value from the editor method, such as <a href="https://www.froala.com/wysiwyg-editor/docs/methods#snapshot.get" target="_blank">'snapshot.get'</a>, whereas sending an action will not. Either way will require access to the Component instance, so you'll need to use an {{link-to "event handler" (query-params section="events")}}.
    </p>


    <pre class="bg-light border rounded p-2 text-dark">&#123;&#123;froala-editor on-paste-after=(action "doSomething")&#125;&#125;</pre>


    <div class="row small-gutters">
      <div class="col-md-6">


        <h5>Sending an Action</h5>
          <pre class="bg-light border rounded p-2 text-dark">import Controller from '@ember/controller';

export default Controller.extend({
  actions: {
    doSomething( component ) {

      <strong>// Won't work!
      let snapshot = component.send(
        'method', 'snapshot.get'
      );

      // No pasting!
      component.send(
        'method', 'commands.undo'
      );</strong>

    } // doSomething()
  } // :actions
}); // export default</pre>


      </div>{{!-- .col --}}
      <div class="col-md-6">


        <h5>Calling the Function</h5>
        <pre class="bg-light border rounded p-2 text-dark">import Controller from '@ember/controller';

export default Controller.extend({
  actions: {
    doSomething( component ) {

      <strong>// Works
      let snapshot = component.method(
        'snapshot.get'
      );

      // No pasting!
      component.method(
        'commands.undo'
      );</strong>

    } // doSomething()
  } // :actions
}); // export default</pre>


      </div>{{!-- .col --}}
    </div>{{!-- .row --}}


    <p>
      Alternately, look at the {{link-to "(froala-method) helper" "addon-helpers.froala-method"}} if you <em>only</em> need to call one editor method based on an editor event. Here is a similar, short-hand version of the example above.
    </p>


    <pre class="bg-light border rounded p-2 text-dark">&#123;&#123;froala-editor on-paste-after=(froala-method "commands.undo")&#125;&#125;</pre>


  </div>{{!-- .card-body --}}
</section>{{!-- .card --}}
