{{#header-navbar}}


  {{#link-to "index" class="navbar-brand p-0"}}
    <img src="{{concat (rooturl) 'ember-froala-editor.png'}}"
      alt="Ember.js Froala Editor Logos"
      width="132" height="64"
      class="d-inline-block d-sm-none" />
    <img src="{{concat (rooturl) 'ember-logo.png'}}"
      alt="Ember.js Logo"
      width="141" height="64"
      class="d-none d-sm-inline-block" />
    <img src="{{concat (rooturl) 'froala-logo.svg'}}"
      alt="Froala Logo"
      width="301" height="64"
      class="d-none d-sm-inline-block" />
  {{/link-to}}

  <button type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#app-navbar-collapse"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="navbar-collapse collapse" id="app-navbar-collapse">


    <nav class="navbar-nav d-flex d-md-none">
      {{link-to "Addon Information" "addon.index" class="nav-item nav-link"}}
      {{link-to "Included Components" "addon-components.index" class="nav-item nav-link"}}
      {{link-to "Included Helpers" "addon-helpers.index" class="nav-item nav-link"}}
    </nav>


    <span class="navbar-text d-none d-md-inline-block ml-auto">
      v{{app-version hideSha=true}}
      <a href="https://github.com/froala/ember-froala-editor" target="_blank" class="text-decoration-none">
        <i class="fa fa-github-square fa-3x align-middle"></i>
      </a>
      <a href="https://www.froala.com/wysiwyg-editor/" target="_blank" class="text-decoration-none">
        <img src="{{concat (rooturl) 'froala-icon.png'}}" alt="Froala Icon" width="33" height="33" class="rounded" />
      </a>
    </span>


  </div>{{!-- .navbar-collapse --}}


{{/header-navbar}}


<div class="container pt-3 pb-3 m-print-0 p-print-0">
  <div class="row small-gutters">


    {{!-- Left side bar for navigation on tablets+ --}}
    <aside class="col-md-4 col-lg-3 d-none d-md-block d-print-none">
      {{partial "addon/index"}}
      {{partial "addon-components/index"}}
      {{partial "addon-helpers/index"}}
    </aside>


    <main class="col-md-8 col-lg-9 col-print-12">
      {{outlet}}
    </main>


  </div>{{!-- .row --}}


  <footer class="text-center mt-3">
    <small class="text-muted">
      Ember logo's are registered trademarks of Tilde Inc.
      <span class="d-inline d-sm-none"><br /></span>
      Froala logo's are owned by Froala Labs SRL.
    </small>
  </footer>


</div>{{!-- .container --}}


{{back-button}}
{{top-button}}
